<!-- 百度统计 -->
<script>
	var _hmt = _hmt || [];
	(function () {
		var hm = document.createElement("script");
		hm.src = "https://hm.baidu.com/hm.js?9b54e0490af8b221eaabd70abf502afc";
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	})();
</script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<section class="page-header">
	<h1 class="project-name">Shanblog</h1>
	<h2 class="project-tagline">Front end Engineer</h2>
	<a href="https://github.com/zhishan33/shanBlog" class="btn">View on GitHub</a>
	<a href="https://github.com/zhishan33/shanBlog/zipball/master" class="btn">Download .zip</a>
	<a href="https://github.com/zhishan33/shanBlog/tarball/master" class="btn">Download .tar.gz</a>
</section>
<!-- blog_1:    recent -->
<section>
	{% for link in site.link1 %}
		{% assign count = 0 %}
		{% if link.type == site.blog_1 %}
			{% for post in site.posts %}
				{% assign count = count | plus: 1 %}
			{% endfor %}
		{% endif %}

		{% if link.type == site.blog_2 %}
			{% for post in site.posts %}
			  {% if post.other %}
					{% assign count = count | plus: 1 %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}
</section>