<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="../stylesheets/github-light.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
		<link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
		<!--<link rel="stylesheet" type="text/css" href="../css/base.css" />-->
		<title>{{page.title}}</title>
	</head>

	<body>
		<section class="page-header">
			<h1 class="project-name">Shanblog</h1>
			<h2 class="project-tagline">Front end Engineer</h2>
			<a href="https://github.com/zhishan33/shanBlog" class="btn">View on GitHub</a>
			<a href="https://github.com/zhishan33/shanBlog/zipball/master" class="btn">Download .zip</a>
			<a href="https://github.com/zhishan33/shanBlog/tarball/master" class="btn">Download .tar.gz</a>
		</section>
		{{content}}
	</body>

</html>